{% extends 'landing/base.html' %} 
{% block content%}
<!-- Log-in form -->
<form action="" method="POST">
    {% csrf_token %}
    <div class="d-flex align-items-center mb-3">
        <i class="mug fa-solid fa-mug-hot fa-2x me-3" style="color: #7b2c07;"></i>
        <span class="h1 fw-bold mb-0">How Was Your Day?</span>
    </div>

    <h5 class="fw-normal mb-3 pb-3">Sign into your account</h5>

    <!-- Displays messages if message was sent -->
    {% if messages %}
    <div class="alert alert-dismissible alert-secondary">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Input Fields -->
    <div class="form-outline mb-3">
        <input type="text" id="username_input" class="form-control form-control-lg mb-2" name="username"/>
        <label class="form-label" for="username_input">Username</label>
    </div>

    <div class="form-outline mb-3">
        <input type="password" id="password_input" class="form-control form-control-lg mb-2" name="password"/>
        <label class="form-label" for="password_input">Password</label>
    </div>

    <div class=" mb-4">
        <input type="submit" class="btn btn-dark btn-lg btn-block" value="Submit">
    </div>

    <p class="mb-1" style="color: #393f81;">Don't have an account? <a href="{% url 'register' %}"
        style="color: #393f81;">Register here</a></p>
</form>


{% endblock content %}