body {
    background-color: white;
  }

.day-info {
    display: inline-block;
}
.checked {
    color: orange;
}

.rating-day input {
    display: none;
}

.rating-day {
    display: inline-block;
    padding-top: 5px;
}

.rating-day label {
    float:right;
}
.rating-day label:before{
    display:inline-block;
    font-size: 25px;
    font-family: FontAwesome;
    content: '\f7b6';
    margin:0;
    padding:2px;
    cursor: pointer;
}

input:checked ~ label, label:hover ~ label{
    color:orange;
}

input:checked + label:hover, input:checked ~ label.hover, input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label {
    color:orange;
}
textarea {
    resize: none;
}

.dropdown-menu {
    min-width:inherit;
}

.profile-pic {
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 15px;
    filter: drop-shadow(0 0 0.75rem gray);
}
.profile-side{
    text-align: center;
    padding-bottom: 2%;
}

.small-profile-pic {
    object-fit: cover;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.no-underline{
    text-decoration: none;
}

.profile-header {
    transform: translateY(5rem);
}

.edit-profile-bt {
    transform: translateY(8rem);
}

.pic-header{
    object-fit: cover;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    padding: 2px;
    border: 2px solid #ccc;
    background: #eee;
}

.display-name-header {
    padding-left: 15px;
    padding-top:10px;
    text-align: left;
    display: block;
}

.bg-header {
    
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;

}
.follow{
    text-align: left;
}


.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.time-footer{
    padding-top: 8px;
}

.followers {
    vertical-align: middle;
    display: inline-block;
    line-height: 18px;
}
a {
    color:inherit;
}