<div class="card border-secondary mb-3 mt-3">
    <!-- Card Body -->
    <div class="card-body">
        <!-- Profile Picture and Username-->
        <a class="no-underline" href="{% url 'user_profile' comment.commenter.username%}">
            <div>
                <h5 class="card-title mb-3">
                <img class="small-profile-pic" src="{{ comment.commenter.profile.image.url}}">{{ comment.commenter.username }}
                </h5>
            </div>
        </a>

        <!-- Date-->
        <div class="hover-text text-muted alignright">
            <h6>{{ comment.duration}}</h6>
            <span class="tooltip-text" id="top">{{ comment.comment_date}}</span>
        </div>


        <!-- Like and Comment Button-->
        <p class="card-text">{{comment.body}}</p>
        
        <!-- Like and Comment Counts-->
        <div class="alignleft">
            <a data-bs-toggle="modal" data-bs-target="#modal{{ comment.pk }}">
                <span class="m-1 like" ><i class="fa-solid fa-heart fa-lg"></i> {{ comment.likes.count }} Likes</span>
            </a>
        </div>

        <!-- Comment's Like Lists modal -->
        <div id="modal{{ comment.pk }}" class="modal fade">
            <div class="modal-dialog" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Users who have liked this comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                </div>
                <div class="modal-body">
    
                {% for liker in comment.likes.all %}
                <li class="list-group-item p-2">
                    <!-- Profile picture, full name, and user name-->    
                    <div>
                        <a class= "no-underline" href="{% url 'user_profile' liker.username %}">
                        <div class="followers">
                            <img class="small-profile-pic alignleft" src="{{ liker.profile.image.url}}">
                        </div>
                        <div class="followers">
                            <strong>{{ liker.first_name }} {{ liker.last_name }}</strong><br>
                            <small>@{{ liker.username }}</small>
                        </div>
                        </a>
                    
    
                    <!-- If logged in user is NOT the user on the list, display follow/unfollow buttons-->
                    {% if user.username != liker.username %}
    
                    <!-- Follow Form -->
                    <form action="{% url 'follow_user' liker.pk %}" method="POST" class=" alignright">
                        {% csrf_token %}
                        <!-- If logged in user already follows the user "Unfollow" -->
                        {% if liker.profile in user.profile.follows.all %}
                        <button type="submit"class="btn btn-secondary btn-sm" name="follow_button" value="unfollow"> Unfollow</button>
                        {% else %}
                        <!-- Otherwise, display "Follow" -->
                        <button type="submit" class="btn btn-primary btn-sm" name="follow_button" value="follow"> Follow</button>
                        {% endif %}
                    </form>
                    {% endif %}
                    </div>
                </li> 
                
                {% endfor %}
                </div>
    
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
    
            </div>
            </div>
        </div>
        
    </div>

    <!-- Card Footer-->
    <div class="card-footer">
        <!-- Like Form-->
        <form action="{% url 'like_comment' comment.pk%}" method="POST">
            {% csrf_token %}
            <!-- If: logged in user already likes the post, clicking button will UNLIKE post -->
            {% if user in comment.likes.all %}
            <button type="submit" id = "unlike_bt" name = "comment_like_button" value = "unlike"class="btn btn-primary btn-sm">
                <i class="fa-solid fa-heart"></i> Unlike</button>

            <!-- Else: logged in user has not liked post, clicking button will LIKE post -->
            {% else %}
            <button type="submit" id = "like_bt" name = "comment_like_button" value = "like"class="btn btn-outline-primary btn-sm">
                <i class="fa-regular fa-heart"></i> Like</button>
            {% endif %}
        </form>

    </div>
</div>