<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'dashboard' %}">
        <h4>
        <i class="mug fa-solid fa-mug-hot fa-lg"></i>
         How Was Your Day?
        </h4>
        </a>
        
        <!-- Search Bar -->
        <form class="d-flex form-outline w-50" method="GET" action = "{% url 'search' %}">
          <input class="form-control me-sm-2" type="search" placeholder="Search" name = "query">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
         
        <!-- Drop Down -->
        <ul class="navbar-nav me-5">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu">
              <h6 class="dropdown-header">{{ request.user.username }}</h6>
              <a class="dropdown-item" href="{% url 'edit_account' %}">Account Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </nav>