{% extends 'social/base.html' %}
{% include 'social/nav_menu.html' %}

{% block title %}
<title>{{ profile_user.first_name }} {{ profile_user.last_name }} (@{{profile_user.username}}) / How Was Your Day?</title>
{% endblock title %}


{% block content %}
<div class="col-lg-9">
        <!-- PROFILE WIDGET STARTS -->
        <div class="bg-white shadow rounded overflow-hidden">

            <!-- PROFILE PIC AND HEADER PIC -->
            <div class="px-4 pb-4 p-4 bg-header" style="background-image: url('{{ profile_user.profile.header.url }}')">
                <div class="media align-items-end profile-header">
                    <div class="media-body">
                        <img class="pic-header" src="{{ profile_user.profile.image.url }}">
                        <!-- If the logged in user is the user on the profile, display "Edit Profile"-->
                        {% if request.user.username == profile_user.username %}
                            <button type="button" class="btn btn-primary alignright edit-profile-bt"> Edit Profile</button>
                        {% else %}
                        <!-- Otherwise, display Follow/Unfollow Button-->
                        <form action= "" method="POST" class="alignright edit-profile-bt">
                            {% csrf_token %}
                            <!-- If logged in user already follows the user on the profile display "Unfollow" -->
                            {% if profile in user.profile.follows.all %}
                            <button type="submit"class="btn btn-secondary" name="follow_button" value="unfollow"> Unfollow</button>
                            {% else %}
                            <!-- Otherwise, display "Follow" -->
                            <button type="submit" class="btn btn-primary" name="follow_button" value="follow"> Follow</button>
                            {% endif %}
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- PROFILE INFORMATION -->
            <div class="bg-light p-3">
                
                <div class="display-name-header">
                    
                    <h5 class="pt-5">{{ profile_user.first_name }} {{ profile_user.last_name }} </h5>
                    <h6>@{{profile_user.username}}</h6>
                    <p>{{profile_user.profile.bio}}</p>
                </div>
                <div class="follow">
                    <a type="button" class="btn btn-link no-underline" href="{% url 'followings_list' profile_user.username %}">
                        <strong>{{ following_count }}</strong> Following
                    </a>
                    <a type="button" class="btn btn-link no-underline" href="{% url 'followers_list' profile_user.username %}">
                        <strong>{{followers_count}}</strong> Followers
                    </a>
                </div>
            </div>
            <div class="py-4 px-4">
            {% block profile_content %}
            {% endblock profile_content %}
            </div>

        </div>
        <!-- End profile widget -->
</div>
{% endblock content %}

{% block view_profile %}
<!-- If the logged in user is the user on the profile, do not display profile pic on side navigation -->
{% if request.user.username == profile_user.username %}
<li class="nav-item">
    <a class="nav-link {% if url_name == 'user_profile' %}active{% endif %}" href="{ % url 'user_profile' user.username % }">
        <i class="fa-solid fa-user"></i> Profile Page
    </a>
  </li>
{% else %}
<!-- Otherwise, display profile pic on side navigation -->
<li class="profile-side">
    <img class="profile-pic" src="{{ user.profile.image.url }}">
    <h5>{{ user.first_name }} {{ user.last_name }}</h5>
    <a type="button" class="btn btn-link" href="{% url 'user_profile' user.username%}">View Profile</a>
    </li>
{% endif %}
{% endblock view_profile %}