<li class="list-group-item p-3">
    <div>
        <!-- Profile picture, full name, and user name-->
        <a class= "no-underline" href="{% url 'user_profile' target_profile.user.username %}">
        <div class="followers">
            <img class="small-profile-pic alignleft" src="{{ target_profile.user.profile.image.url}}">
        </div>
        <div class="followers">
            <strong>{{ target_profile.user.first_name }} {{ target_profile.user.last_name }}</strong><br>
            <small>@{{ target_profile.user.username }}</small>
        </div>
        </a>

        <!-- If logged in user is NOT the user on the list, display follow/unfollow buttons-->
        {% if user.username != target_profile.user.username %}

        <!-- Follow Form -->
        <form action="{% url 'follow_user' target_profile.user.pk %}" method="POST" class="followers alignright">
            {% csrf_token %}
            <!-- If logged in user already follows the target user "Unfollow" -->
            {% if target_profile.user.profile in user.profile.follows.all %}
            <button type="submit"class="btn btn-secondary btn-sm" name="follow_button" value="unfollow"> Unfollow</button>
            {% else %}
            <!-- Otherwise, display "Follow" -->
            <button type="submit" class="btn btn-primary btn-sm" name="follow_button" value="follow"> Follow</button>
            {% endif %}
        </form>
        
        {% endif %}
    </div>
</li>  