{% extends 'social/base.html' %}

{% block title %}
<title>Account Settings</title>
{% endblock title %}

{% block content %}
<div class="col-lg-9">
<div class="bg-white shadow rounded overflow-hidden">
<div class="container py-0 pt-4 pb-4 h-200">
    <div class="p-1">
        <h2>
            <i class="fa-solid fa-gear"></i> Reset Password
            <a type="button" class="btn btn-secondary btn-sm alignright" onclick="history.back()"><i class="fa-solid fa-left-long"></i> Go Back</a>
        </h2>
        
    </div>
        
<div class="col-md-8">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
            <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {% for message in messages %}
                <span>{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}
        <form method="POST" action="">
            {% csrf_token %}
            <label for="oldPassInput" class="col-form-label">Old Password</label>
            <input type="password" class="form-control" name = "old_password" id="oldPassInput" placeholder="Old Password">

            <ul class = mt-3>
                <li>Your password cant be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password cant be a commonly used password.</li>
                <li>Your password cant be entirely numeric.</li>
            </ul>

            <label for="newPassInput1" class="col-form-label">New Password</label>
            <input type="password" class="form-control" name = "new_password1" id="newPassInput1" placeholder="New Password">

            <label for="newPassInput2" class="col-form-label mt-2">Confirm New Password</label>
            <input type="password" class="form-control" name = "new_password2" id="newPassInput2" placeholder="Confirm New Password"> 
            
        </div>
        <div class="row mt-3">
            <div><button type="submit" class="btn btn-primary btn-sm">Update Password</button></div>
        </div>  
    </div>
</div>
    
        </form>
    </div>
    </div>
</div>
{% endblock content %}

{% block view_profile %}
<!-- Profile Picture -->
<li class="profile-side">
<img class="profile-pic" src="{{ request.user.profile.image.url }}">
<h5>{{ user.first_name }} {{ user.last_name }}</h5>
<a type="button" class="btn btn-link" href="{% url 'user_profile' request.user.username%}">View Profile</a>
</li>
{% endblock view_profile %}