{% extends 'social/base.html' %}

{% block title %}
<title>Search</title>
{% endblock title %}

{% block content %}
    <!------------ LEFT CONTAINER ------------ -->
    <div class="col-lg-9">
        <div class="bg-white shadow rounded overflow-hidden">
        <div class="container py-0 pt-4 pb-4 h-200 p-3">
            <h2>
                <i class="fa-solid fa-magnifying-glass"></i> Searching results for "{{ query }}"
            </h2>

        <div class="row mt-4 p-2">
            <h4>User Results</h4>
        </div>
        <div>
            <!-- Display list of posts -->
            {% for user_result in users %}
            <li class="list-group-item p-3">
                <div>
                    <!-- Profile picture, full name, and user name-->
                    <a class= "no-underline" href="{% url 'user_profile' user_result.username %}">
                    <div class="followers">
                        <img class="small-profile-pic alignleft" src="{{ user_result.profile.image.url}}">
                    </div>
                    <div class="followers">
                        <strong>{{ user_result.first_name }} {{ user_result.last_name }}</strong><br>
                        <small>@{{ user_result.username }}</small>
                    </div>
                    </a>
    
                    <!-- If logged in user is NOT the user on the list, display follow/unfollow buttons-->
                    {% if user.username != user_result.username %}
    
                    <!-- Follow Form -->
                    <form action="{% url 'follow_user' user_result.pk %}" method="POST" class="followers alignright">
                        {% csrf_token %}
                        <!-- If logged in user already follows the user on the profile display "Unfollow" -->
                        {% if user_result.profile in user.profile.follows.all %}
                        <button type="submit"class="btn btn-secondary btn-sm" name="follow_button" value="unfollow"> Unfollow</button>
                        {% else %}
                        <!-- Otherwise, display "Follow" -->
                        <button type="submit" class="btn btn-primary btn-sm" name="follow_button" value="follow"> Follow</button>
                        {% endif %}
                    </form>
    
    
                    {% endif %}
                </div>
            </li>  
            {% endfor %} 
        </div>

        <div class="row mt-4 p-2">
            <h4>Post Results</h4>
        </div>
        <div>
            <!-- Display list of posts -->
            {% for post in posts %}
            {% include 'social/post.html' %}
            {% endfor %} 
        </div>
            
        </div>
    </div>
    </div>
{% endblock content %}

{% block view_profile %}
<!-- Profile Picture -->
<li class="profile-side">
<img class="profile-pic" src="{{ user.profile.image.url }}">
<h5>{{ user.first_name }} {{ user.last_name }}</h5>
<a type="button" class="btn btn-link" href="{% url 'user_profile' user.username%}">View Profile</a>
</li>
{% endblock view_profile %}