{% extends 'social/base.html' %}

{% block title %}
<title>View Post</title>
{% endblock title %}

{% block content %}
    <!------------ LEFT CONTAINER ------------ -->
    <div class="col-lg-9">
        <div class="bg-white shadow rounded overflow-hidden">
        <div class="container py-0 pt-4 pb-4 h-200">
            <div class="pb-3">
                <a type="button" class="btn btn-secondary btn-sm" href="{% url 'dashboard' %}">
                <i class="fa-solid fa-left-long"></i> Go Back
            </a>
            </div>
            
            
            {% include 'social/post.html' %}
            

    <h5 class="m-2 mt-4"><i class="fa-solid fa-arrow-down-short-wide fa-lg"></i> Comments </h5>
<!------------------------------  COMMENTS ------------------------------------------------->   
    <!-- Write Comment Form-->
    <div class="d-flex flex-start w-100 pt-2">
        <img class="small-profile-pic m-3" src="{{user.profile.image.url}}"/>
        <div class="form-outline w-100">

        <form action="{% url 'add_comment' post.pk %}" method="POST">
            {% csrf_token %}
          <textarea class="form-control" name="commentBody" rows="4"></textarea>
            <div class="float-end mt-2 pt-1">
                <input type="submit" class="btn btn-primary btn-sm" name="commentSubmitBtn" value="Post Comment">
            </div>
        </form>

        </div>
      </div>

    
    <!-- EACH COMMENT CARD-->
    {% for comment in comments %}
    {% include 'social/comment.html' %}
    {% endfor %}

            
        </div>
    </div>
</div>
{% endblock content %}

{% block view_profile %}
<!-- Profile Picture -->
<li class="profile-side">
<img class="profile-pic" src="{{ user.profile.image.url }}">
<h5>{{ user.first_name }} {{ user.last_name }}</h5>
<a type="button" class="btn btn-link" href="{% url 'user_profile' user.username%}">View Profile</a>
</li>
{% endblock view_profile %}