{% extends 'social/base.html' %}

{% block title %}
<title>View Post</title>
{% endblock title %}

{% block content %}
    <!------------ LEFT CONTAINER ------------ -->
    <div class="col-lg-9">
        <div class="bg-white shadow rounded overflow-hidden">
        <div class="container py-0 pt-4 pb-4 h-200">
            <a type="button" class="btn btn-secondary btn-sm" href="{% url 'dashboard' %}"><i class="fa-solid fa-left-long"></i> Go Back </a>
            
            
            <div class="card border-primary mb-3 mt-3">
                <!-- Card Header -->
                <a class="no-underline" href="{% url 'view_post' post.pk%}">
                    <h3 class="card-header">{{post.title}}</h3>
                </a>
                
            
                <!-- Card Body -->
                <div class="card-body">
            
                    <!-- Profile Picture and Username-->
                    <a class="no-underline" href="{% url 'user_profile' post.author%}">
                        <div>
                            <h5 class="card-title mb-3"> <img class="small-profile-pic" src="{{ post.author.profile.image.url}}">{{ post.author }}</h5>
                        </div>
                    </a>
            
                    <!-- Date-->
                    <h6 class="card-title mb-3"> {{ post.post_date}}</h6>
            
                    <!-- Day Rating-->
                    <div class = "day_rating">
                        <div class="day-info">
                            <h6 class="card-subtitle text-muted"> Day Rating:</h6>
                        </div>
                        <div class="day-info">
                            <div class="stars mb-3">
                                <span class="mug fa fa-mug-hot{% if post.rating > 0 %} checked {% endif %}"></span>
                                <span class="mug fa fa-mug-hot {% if post.rating > 1 %} checked {% endif %}"></span>
                                <span class="mug fa fa-mug-hot {% if post.rating > 2 %} checked {% endif %}"></span>
                                <span class="mug fa fa-mug-hot {% if post.rating > 3 %} checked {% endif %}" ></span>
                                <span class="mug fa fa-mug-hot {% if post.rating > 4 %} checked {% endif %}"></span>
                            </div>
                        </div>
                    </div>
            
                    <!-- Like and Comment Button-->
                    <p class="card-text">{{ post.body }}</p>
                    <!-- Like Form-->
                    <form action="{% url 'like_post' post.pk%}" method="POST">
                        {% csrf_token %}
            
                        <!-- If: logged in user already likes the post, clicking button will UNLIKE post -->
                        {% if user in post.likes.all %}
                        <button type="submit" id = "unlike_bt" name = "like_button" value = "unlike"class="btn btn-primary btn-sm">
                            <i class="fa-solid fa-heart"></i> {{ post.likes.count }}</button>
            
                        <!-- Else: logged in user has not liked post, clicking button will LIKE post -->
                        {% else %}
                        <button type="submit" id = "like_bt" name = "like_button" value = "like"class="btn btn-outline-primary btn-sm">
                            <i class="fa-regular fa-heart"></i> {{ post.likes.count }}</button>
                        {% endif %}
            
                        <a type="button" class="btn btn-outline-secondary btn-sm" href="{% url 'view_post' post.pk%}">
                        <i class="fa-regular fa-comment"></i> {{ post.comments.count }}
                        </a>
                    </form>
                    
                    
                </div>
            
            
                <!-- Card Footer-->
                <div class="card-footer">
            
                    <!-- If logged-in user matches user in profile, apply time-footer css style -->
                    <div class=" {% if user.username == post.author.username %} time-footer {% endif %} alignleft">
                        <span class="text-muted">{{ post.duration }}</span>
                    </div>
            
                    <!-- If logged-in user matches user in profile, show Edit/Delete buttons -->
                    {% if user.username == post.author.username %}
                    <a type="button" class="btn btn-link btn-small no-underline alignright" href="{% url 'edit_post' post.pk %}"> <i class="fa-solid fa-pen-to-square"></i> Edit</a>  
                    <button type="button" class="btn btn-link btn-small no-underline alignright" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        <i class="fa-solid fa-trash"></i> Delete</button>  
            
                    <!-- Delete Modal -->
                    <div id="deleteModal" class="modal">
                        <div class="modal-dialog" role="dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">Post Deletion Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <p>Are you sure you want to delete this post?</p>
                            </div>
                            <div class="modal-footer">
                                <!-- Delete Post Form -->
                                <form method="POST">
                                    {% csrf_token %}
            
                                    <button type="submit" class="btn btn-primary" name="delete_button" value="{{ post.pk }}">Delete</button>
                                </form>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            
            </div>
            

    <h5 class="m-2 mt-4"><i class="fa-solid fa-arrow-down-short-wide fa-lg"></i> Comments </h5>
<!------------------------------  COMMENTS ------------------------------------------------->   
    <!-- Write Comment Form-->
    <div class="d-flex flex-start w-100 pt-2">
        <img class="small-profile-pic m-3" src="{{user.profile.image.url}}"/>
        <div class="form-outline w-100">

        <form action="{% url 'add_comment' post.pk %}" method="POST">
            {% csrf_token %}
          <textarea class="form-control" name="commentBody" rows="4"></textarea>
            <div class="float-end mt-2 pt-1">
                <input type="submit" class="btn btn-primary btn-sm" name="commentSubmitBtn" value="Post Comment">
            </div>
        </form>

        </div>
      </div>

    
    <!-- EACH COMMENT CARD-->
    {% for comment in comments %}
    <div class="card border-secondary mb-3 mt-3">
        <!-- Card Body -->
        <div class="card-body">
            <!-- Profile Picture and Username-->
            <a class="no-underline" href="{% url 'user_profile' comment.commenter.username%}">
                <div>
                    <h5 class="card-title mb-3">
                    <img class="small-profile-pic" src="{{ comment.commenter.profile.image.url}}">{{ comment.commenter.username }}
                    </h5>
                </div>
            </a>
    
            <!-- Date-->
            <h6 class="card-title mb-3"> {{ comment.comment_date}}</h6>

    
            <!-- Like and Comment Button-->
            <p class="card-text">{{comment.body}}</p>
            <!-- Like Form-->
            <form action="{% url 'like_comment' comment.pk%}" method="POST">
                {% csrf_token %}
                <!-- If: logged in user already likes the post, clicking button will UNLIKE post -->
                {% if user in comment.likes.all %}
                <button type="submit" id = "unlike_bt" name = "comment_like_button" value = "unlike"class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-heart"></i> {{ comment.likes.count }}</button>
    
                <!-- Else: logged in user has not liked post, clicking button will LIKE post -->
                {% else %}
                <button type="submit" id = "like_bt" name = "comment_like_button" value = "like"class="btn btn-outline-primary btn-sm">
                    <i class="fa-regular fa-heart"></i> {{ comment.likes.count }}</button>
                {% endif %}
            </form>
            
            
        </div>
    
    
        <!-- Card Footer-->
        <div class="card-footer">
    
            <!-- If logged-in user matches user in profile, apply time-footer css style -->
            <div class=" {% if user.username == post.author.username %} time-footer {% endif %} alignleft">
                <span class="text-muted">{{ comment.duration }}</span>
            </div>
    
        </div>
    
    </div>
    {% endfor %}

            
        </div>




    </div>
</div>
{% endblock content %}

{% block view_profile %}
<!-- Profile Picture -->
<li class="profile-side">
<img class="profile-pic" src="{{ user.profile.image.url }}">
<h5>{{ user.first_name }} {{ user.last_name }}</h5>
<a type="button" class="btn btn-link" href="{% url 'user_profile' user.username%}">View Profile</a>
</li>
{% endblock view_profile %}